.searchBarContainer {
  display: flex;
  position: relative;
}

.searchBar {
  padding: 5px 35px 5px 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #000;
  min-width: 250px;
}

.clearSearchIcon {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  padding: 2px;
  opacity: 0.6;
}

.clearSearchIcon:hover {
  opacity: 1;
}
