.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f3f5;
  padding: 5px 20px;
  z-index: 1000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.headerLeftContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.strikethrough {
  text-decoration: line-through;
}

.headerTitle {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

.headerLogo {
  height: 50px;
  text-decoration: none;
}

.actionContainer {
  display: flex;
  gap: 10px;
}

.sortFilterContainer {
  display: flex;
  gap: 10px;
}

@media (width < 800px) {
  .header {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
  }
  .actionContainer {
    gap: 10px;
    place-items: center;
  }
}
