.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding: 10px 20px;
}

.header_logo {
  height: 50px;
  text-decoration: none;
}

.actionContainer {
  display: flex;
  gap: 10px;
}
