.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.headerLeftContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.headerTitle {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  background-image: linear-gradient(
    135deg,
    #3cf2fc 10%,
    #ff6932 30%,
    #d600fc 50%,
    #3cf2fc 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  animation: rainbow-text-animation-rev 3s ease forwards;
  &.animate {
    animation: rainbow-text-animation 2s ease forwards;
  }
}

.headerLogo {
  height: 50px;
  text-decoration: none;
}

.actionContainer {
  display: flex;
  gap: 10px;
}

@media (width < 600px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }
}

@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 450%;
  }
  40% {
    background-size: 300%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 300%;
  }
  100% {
    background-size: 450%;
  }
}
