.filterPanel {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: auto;
  background-color: #f5f5f5;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  &.open {
    right: 0;
  }
}

.filterPanelContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;
  padding: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

.dropdownActionButtonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.filterPanelHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
  }
  img {
    cursor: pointer;
  }
}

.filterSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
  gap: 5px;
  align-items: flex-start;
  border-bottom: solid 1px #d9d9d9;
  flex-wrap: wrap;
}

.filterSectionHeader {
  font-weight: bold;
}

.dropdownButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterCheckbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filterOptions {
  display: flex;
  flex-direction: column;
}
